<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" target="_blank" href="{{ site.apps.amortizacion }}">Apps <i class="fas fa-arrow-up-right-from-square"></i></a>
      <span class="sidebar-nav-item">{{ site.email }}</span>
      <span class="sidebar-nav-item">{{ site.city }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
